doctype html
html(lang="ko")
    head
        title #{pageTitle} | SP
        link(rel="stylesheet", href="../public/stylesheets/style.css")
    body
        include partials/header
        main
            block content