extends index

block content
    h2 JOIN!
    form.row.g-3(method="POST", name="joinForm", action="/join")
        label.form-label(for="username") ID
        input.form-control(id="username", type="text", name="username", placeholder="id")
        label.form-label(for="password") Password
        input.form-control(id="password", type="password", name="password", placeholder="password")
        input.btn.btn-primary(type="submit", value="Login!")