header
    a(href="/")
        span SP HOME
    nav
        ul
            if loggedIn
                li
                    a(href="/admin")
                        span admin
            else
                li
                    a(href="/login")
                        span login
                li
                    a(href="/join")
                        span join