header
    a(href="/")
        span SP HOME
    nav
        ul
            li
                a(href="/login")
                    span login
            li
                a(href="/join")
                    span join